#PrimaryNav,
#SecondaryNav,
#PageFooter,
body[data-_sHeaderStyle=Floating] #MainContentHeader.Fixed
{
	background: var(--NavsFooterColor);
}

#SecondaryNav>wrapper module.Selected icon,
#PrimaryNav module pane, #SecondaryNav module pane
{
	background: #252525;
}

// Notification Icon Background Colors

#SecondaryNav>wrapper module.HasUpdates icon,
#PrimaryNav module.HasUpdates icon,
#PrimaryNav module.HasUpdates widget
{
	background: var(--GreenColor);
}

#GamesNavModule pane header .SubscriptionBenefitsNotice wrapper placeholder
{
	border-color: var(--RedColor);
}

// Secondary Navigation

#SecondaryNav>wrapper module pane header:after,
#SecondaryNav>wrapper module pane footer:after
{
	display: none;
}

#AlertsNavModule pane .Broadcasts>li,
#ActivityNavModule pane .Broadcasts>li
{
	padding: 0.3rem 0;
	opacity: 0.7;
	border-top: 1px solid #151515;
	transition: var(--TransitionAll);
	margin-bottom: 0.1rem;
}

#AlertsNavModule pane .Broadcasts .Unseen .Broadcast,
#ActivityNavModule pane .Broadcasts .Unseen .Broadcast
{
	font-weight: 100;
}

#AlertsNavModule pane .Broadcasts .Unseen,
#ActivityNavModule pane .Broadcasts .Unseen
{
	opacity: 1;
	color: var(--WhiteColor);
	background: rgba(116, 190, 149, 0.3);
}

#AlertsNavModule pane .Broadcasts .Unseen:hover,
#ActivityNavModule pane .Broadcasts .Unseen:hover
{
	background: rgba(116, 190, 149, 0.3);
}

#AlertsNavModule pane .Broadcasts>li:hover,
#ActivityNavModule pane .Broadcasts>li:hover,
#ManageNavModule pane .Panes, // Manage Pane
#ManageNavModule pane .PaneTabs .Selected, // Manage pane - tabs
#BuddiesNavModule pane article .ChannelContents>.Messages, // BuddyChat pane - Messages
#PersonalNavModule pane .Column1 .Identity,
#PersonalNavModule pane column:nth-child(1) .Identity
{
	background: #343434;
}

#PrimaryNav module pane article,
#SecondaryNav module pane article
{
	padding: 0.5rem;
}

#ManageNavModule pane .Panes,
#ManageNavModule pane .PaneTabs .Selected,
#PersonalNavModule pane .Column1 .Identity,
#PersonalNavModule pane column:nth-child(1) .Identity,
#AlertsNavModule pane .Broadcasts > li,
#ActivityNavModule pane .Broadcasts > li,
wrapper.Messages
{
	border-radius: 3px;
}

// BuddyChat Pane

#BuddiesNavModule pane article .ChannelContents>.Messages>.Message .RichText
{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 0.5rem;
}

#BuddiesNavModule pane article .ChannelContents>.Messages>.SelfMessage .RichText
{
	background: rgba(0, 0, 0, 0.5);
}

#SecondaryNav>wrapper module pane article
{
	overflow-x: hidden; // Hide x-overflow
}

#MessagesNavModule pane #BuddyChatPromoColumn // Messages pane
{
	background: #343434;
	border-radius: 3px;
	padding: 0.5rem;
}

#RemindersNavModule pane column:first-of-type .StatusWrapper
{
	background: #343434;
	border-radius: 3px;
	padding: 0.5rem;
	border: 0;
	font-size: 1.5rem;
}

#RemindersNavModule pane #MemoColumn span
{
	border-radius: 3px;
	background: #343434;
	font-size: var(--BodyFontSize);
}

// Search Bar

#SearchNavModule #SearchForm input[type=text]
{
	font-size: var(--BodyFontSize);
	width: 200px;
}

#SearchNavModule #SearchForm button
{
	margin-left: -3rem;
	transition-duration: .1s;
}

#SearchNavModule pane #SearchOptionsForm
{
	border: 0;
	box-shadow: none;
	border-radius: 3px;
	padding: 0.3rem;
	font-size: var(--BodyFontSize);
	background: var(--ListBGColor);
	color: var(--BlackColor);
}

#SearchNavModule pane #PopularTermSuggestions li small,
#SearchNavModule pane #BrowserHistorySuggestions li small
{
	color: var(--GreyColor);
	font-size: var(--BodyFontSize);
}

// SubNavigator

#SubNavigator .DropdownMenuSubNavigator>li ul>li
{
	background: #252525;
}